@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=DM+Serif+Display&family=Source+Serif+4:opsz@8..60&display=swap');
:root {
    --primary-font: 'Source Serif 4', serif;
    --heading-font: 'DM Serif Display', serif;
    --secondary-font: 'Baloo 2', cursive;
    --primary-color: #5086d9;
    --border-color: royalblue;
    --bg-color: #d1e2ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
}

#header {
    background-color: var(--primary-color);
    background-color: #333;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
    font-size: 20px;
}

#header-heading {
    font-size: 50px;
}

#header a {
    color: white;
}

#header a:hover {
    transition: 0.3s;
    color: black;
    background-color: #eee;
    width: 300px;
    border-radius: 50px;
    text-align: center;
}


/* Nav */

#edit-resume-nav {
    background-color: #eeee;
    display: none;
}

#edit-resume-nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#edit-resume-nav ul li .edit-keys {
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-resume-nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#edit-resume-nav ul li .edit-keys:hover {
    color: white;
    background-color: #333;
    cursor: pointer;
}

#edit-resume-nav ul li span {
    font-family: var(--secondary-font);
    font-size: 15px;
}

.edit-values {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.active {
    background-color: #333;
    color: white;
}

.edit-values i,
.edit-values span {
    margin-left: 5px;
    padding: 8px;
    color: black;
}

.edit-values span:hover {
    background-color: #333;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

.edit-values i:hover {
    background-color: #333;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}

#colors,
#fonts,
#text-sizes {
    display: none;
    flex-wrap: wrap;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#color1 {
    color: red;
}

#color2 {
    color: blue;
}

#color3 {
    color: green;
}

#color4 {
    color: orangered;
}

#color5 {
    color: #df4859;
}

#color6 {
    color: #5086d9;
}

#custom-color {
    height: 20px;
    width: 20px;
    margin-top: 6px;
    margin-left: 6px;
    border-radius: 100%;
    font-family: var(--secondary-font);
    font-size: 2px;
    cursor: pointer;
}

#custom-color-btn {
    font-family: var(--secondary-font);
    margin-left: 10px;
    cursor: pointer;
}

#fonts #font1 {
    font-family: 'Roboto', sans-serif;
}

#fonts #font2 {
    font-family: 'Koulen', cursive;
}

#fonts #font3 {
    font-family: 'Source Serif 4', serif;
}

#fonts #font4 {
    font-family: 'DM Serif Display', serif;
}

#fonts #font5 {
    font-family: 'Baloo 2', cursive;
}

#fonts label {
    font-family: var(--secondary-font);
    font-size: 15px;
}

#fonts #fonts-label-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

#fonts span {
    border: 1px solid gray;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin: 5px;
}

#text-sizes label {
    font-family: var(--secondary-font);
    font-size: 15px;
}

#text-sizes #size-label-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}


/* For input resume */

#input-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* display: none; */
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px auto;
    border: 2px solid #333;
    border-radius: 8px;
    background-color: white;
}

.container input {
    padding: 10px;
    margin-bottom: 20px;
}

.btn {
    background-color: #333;
    color: var(--primary-color);
    width: 80px;
    min-width: max-content;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: var(--secondary-font);
    font-size: 19px;
    font-weight: bolder;
    cursor: pointer;
}

.btn:hover {
    background-color: #eeee;
    color: #333;
    border: 1px solid var(--primary-color);
}

#generate-resume-btn {
    background-color: #eeee;
    padding: 5px;
    color: #333;
}

#generate-resume-btn:hover {
    background-color: #333;
    color: white;
    border: 1px solid #333;
}

.padding-c {
    padding: 5px 40px;
    margin: 5px 0px;
    /* border: 2px solid; */
}

.txt-area {
    padding: 10px;
    margin: 20px 0px;
}

.headings {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin: 10px 0px;
    padding: 4px;
    font-size: 23px;
    font-size: 23px;
    border-bottom: 1px solid var(--border-color);
}


/* For output resume */

#resume {
    /* border: 2px solid black; */
    /* margin: 25px; */
    /* padding: 25px 0px; */
    display: none;
    width: 70vw;
    margin: 25px auto;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4), -2px -2px 20px rgba(0, 0, 0, 0.4);
    /* border: 1px solid #333; */
    /* display: block; */
}

#resume-output-heading {
    text-align: center;
    font-family: var(--secondary-font);
    margin-bottom: 10px;
    font-size: 35px;
}

#name-output {
    font-size: 28px;
    color: var(--primary-color);
}

#education-output-div,
#work-output-div,
#tech-output-div {
    /* display: none; */
}

.output-ul li {
    padding: 5px 0px 5px 5px;
}

table,
tr,
td {
    border: 1px solid;
    border-collapse: collapse;
}

td {
    padding: 10px;
}

table {
    width: 70%;
    margin: 20px;
}

#intro-output-div div {
    margin: 10px 0px;
}

#name-output-ending {
    text-align: end;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
    font-size: 25px;
}

#print-btn {
    margin: 20px 15px;
    cursor: pointer;
    display: none;
}

#edit-btn {
    margin: 20px 15px;
    cursor: pointer;
    display: none;
    background-color: #eeee;
    color: black;
    border: 1px solid;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    font-family: var(--secondary-font);
    font-size: 18px;
    background-color: #333;
    color: white;
}

#footer a {
    color: white;
    padding: 0px 10px;
}

#footer a:hover {
    color: #333;
    background-color: #eeee;
    border-radius: 5px;
}